easy_task/classification/dataset/*.h5
easy_task/segmentation/dataset/*.h5
easy_task/segmentation/youtube/*.gif
easy_task/segmentation/result_img/*.png
easy_task/segmentation/models/*.pth

dem/blender/dem/*.npy
dem/blender/kaguya
dem/blender/video/*.avi
dem/blender/*.blend
dem/blender/*.blend1
dem/blender/dem_only_boulder
dem/blender/video_only_boulder

dem/DEM/128pix_(0-3deg)_dem(lidar_noisy)_boulder
dem/DEM/64pix_(0-3deg)_dem(lidar_noisy)_boulder

dem/data/
dem/raw-data
dem/raw-data_only_boulder
dem/dataset/*
dem/dataset_only_boulder/*
dem/dataset_boulder/*
dem/result_img/*
dem/result_img_boulder/*
dem/label_only/*
dem/label_only_boulder/*
dem/dataset_ann
dem/akida

akida/*.pickle
*.pickle

dem_classification/blender/dem/*.npy
dem_classification/blender/kaguya
dem_classification/blender/video/*.avi
dem_classification/blender/*.blend
dem_classification/blender/*.blend1
dem_classification/blender/dem_only_boulder
dem_classification/blender/video_only_boulder
dem_classification/data/
dem_classification/raw-data
dem_classification/raw-data_only_boulder
dem_classification/dataset/*
dem_classification/dataset_only_boulder/*
dem_classification/dataset_boulder/*
dem_classification/result_img/*
dem_classification/result_img_boulder/*
dem_classification/label_only/*
dem_classification/label_only_boulder/*
dem_classification/dataset_ann
dem_classification/akida
dem_classification/models/*.pth


dem_rough/blender/dem/*.npy
dem_rough/blender/kaguya
dem_rough/blender/video/*.avi
dem_rough/blender/*.blend
dem_rough/blender/*.blend1
dem_rough/blender/dem_only_boulder
dem_rough/blender/video_only_boulder
dem_rough/data/
dem_rough/raw-data
dem_rough/raw-data_only_boulder
dem_rough/dataset/*
dem_rough/dataset_only_boulder/*
dem_rough/dataset_boulder/*
dem_rough/result_img/*
dem_rough/result_img_boulder/*
dem_rough/label_only/*
dem_rough/label_only_boulder/*
dem_rough/dataset_ann
# dem_rough/akida
dem_rough/models/*.pth

dem_rough_bigdata/blender/dem/*.npy
dem_rough_bigdata/blender/kaguya
dem_rough_bigdata/blender/video/*.avi
dem_rough_bigdata/blender/*.blend
dem_rough_bigdata/blender/*.blend1
dem_rough_bigdata/blender/dem_only_boulder
dem_rough_bigdata/blender/video_only_boulder
dem_rough_bigdata/data/
dem_rough_bigdata/raw-data
dem_rough_bigdata/raw-data_only_boulder
dem_rough_bigdata/dataset/*
dem_rough_bigdata/dataset_only_boulder/*
dem_rough_bigdata/dataset_boulder/*
dem_rough_bigdata/result_img/*
dem_rough_bigdata/result_img_boulder/*
dem_rough_bigdata/label_only/*
dem_rough_bigdata/label_only_boulder/*
dem_rough_bigdata/dataset_ann
dem_rough_bigdata/akida
dem_rough_bigdata/models/*.pth

dem_rough_constant/blender/dem/*.npy
dem_rough_constant/blender/kaguya
dem_rough_constant/blender/video/*.avi
dem_rough_constant/blender/*.blend
dem_rough_constant/blender/*.blend1
dem_rough_constant/blender/dem_only_boulder
dem_rough_constant/blender/video_only_boulder
dem_rough_constant/data/
dem_rough_constant/raw-data
dem_rough_constant/raw-data_only_boulder
dem_rough_constant/dataset/*
dem_rough_constant/dataset_only_boulder/*
dem_rough_constant/dataset_boulder/*
dem_rough_constant/result_img/*
dem_rough_constant/result_img_boulder/*
dem_rough_constant/label_only/*
dem_rough_constant/label_only_boulder/*
dem_rough_constant/dataset_ann
dem_rough_constant/akida
dem_rough_constant/models/*.pth